.logo {
    display: block;
    margin: 0 auto;
}

header {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    font-family: arial, sans-serif;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

.left {
    grid-area: left;
    display: flex;
}


.right {
    grid-area: right;
    display: grid;
    justify-self: end;
}

.right-flex {
    display: flex;
}

.about {
    width: 5em;
    align-self: center;
}

.store {
    width: 5em;
    align-self: center;
}

.gmail {
    width: 5em;
    align-self: center;
}

.images {
    width: 5em;
    align-self: center;
}

.apps {
    width: 5em;
    align-self: center;
}

.signin {
    width: 5em;
    align-self: center;
}

.picture-opacity {
    opacity: 0.75;
}



